@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans');

:root {
    /* Colors: */
    --background-color:         #13263d;

    --content-background-color: var(--background-color);
    --header-background-color:  #214772;
    --nav-bar-background-color: #295f9c;

    --highlight-color:          #36b8e9;
    --symbol-color:             #b5d8e8;
    --symbol-hover-color:       #ffffff;

    --text-shadow-color:        #5d9ab6;

    /* Fonts: */
    --font-family:              'Josefin Sans', sans-serif;

    /* Images: */
    --background-image:         url(/assets/images/backgrounds/hexisles.png);

    /* Shadows */
    --content-box-shadow:       4px 4px 4px #0004, 1px 1px 4px #0004;
}
