@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans');

:root {
    /* Colors: */
    --background-color:         #3d1313;

    --content-background-color: transparent;
    --header-background-color:  #722121;
    --nav-bar-background-color: #9c2929;

    --highlight-color:          #e93636;
    --symbol-color:             #e8b5b5;
    --symbol-hover-color:       #ffffff;

    --text-shadow-color:        #b65d5d;

    /* Fonts: */
    --font-family:              'Josefin Sans', sans-serif;

    /* Images: */
    /* [...] */ 
}