@import url('https://fonts.googleapis.com/css?family=Josefin%20Sans');

:root {
    /* Colors: */
    --header-color:             #722121;
    --background-color:         #3d1313;
    --content-background-color: transparent;

    --symbol-color:             #e8b5b5;
    --symbol-hover-color:       #ffffff;

    --highlight-color:          #e93636;
    --highlight-hover-color:    #ee8484;

    /* Fonts */
    --font-family:              'Josefin Sans', sans-serif;

    /* Images */
    --background-image:         none;
    --content-background-image: none;
}