@use "abstracts" as *;

html {
    @include hide-scrollbars;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    // Background: <repeat-style> <position> / <size> <color (if gradient isn't supported)> <image>
    background: no-repeat 0 50vw / 100% calc(100% - 50vw) black linear-gradient(black, col(30));
    display: flex;
    flex-direction: column;
}