/**=====================**/
/** BY TYPE             **/
/**=====================**/

/* Global */
html,
body {
    /* Formatting */
    margin: 0;
    padding: 0;

    /* Background */
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /* Flex Display */
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;

    /* Scrollbars */
    overflow: hidden;

    /* Text */
    color: var(--symbol-color);
    font-family: var(--font-family);
    font-size: 1em;

    /* Vertical scrollbar */
    overflow-y: auto;
    overflow-x: hidden;

    /* Hide scrollbars */
    -ms-overflow-style: none; /* IE, Edge */
    scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

/* Paragraph */
p {
    color: var(--symbol-color);
    font-family: var(--font-family);
}

/* Header */
h1,
h2,
h3,
h4 {
    color: var(--symbol-color);
    font-family: var(--font-family);
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Horizontal line*/
hr {
    color: var(--symbol-color);
    margin: 5px;
}


/* Link */
a:link,
a:visited,
a:active {
    color: var(--highlight-color);
    text-decoration: none;
}

a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
}

table, th, td {
    padding: 5px 10px;
    border-collapse: collapse;
    border: 1px solid var(--symbol-color);
}

/* Simple Icons: src/utils/SimpleIcon.ts */
simple-icon {
    margin: 0 auto;
    position: relative;
    z-index: 1;
    display: block;
    width: 50px;
    height: 50px;
    background: var(--symbol-color);
    -webkit-mask-size: "100%";
    mask-size: "100%";
}

a > simple-icon {
    background-color: var(--highlight-color);
}

/**=====================**/
/** BY CLASS            **/
/**=====================**/

/* Alignment */
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}

.el-right {
    margin-left: auto;
    margin-right: 0;
}
.el-left {
    margin-left: 0;
    margin-right: auto;
}
.el-center {
    margin-left: auto;
    margin-right: auto;
}

/* Full Size */
.full-width {
    width: 100%;
}
.full-height {
    height: 100%;
}
.full-size {
    width: 100%;
    height: 100%;
}

/* Margin */
.nomargin {
    margin: 0;
}

/* Border */
.border {
    border: 2px solid var(--symbol-color);
}
.border-l {
    border-left: 2px solid var(--symbol-color);
}
.border-r {
    border-right: 2px solid var(--symbol-color);
}
.border-v {
    border-left: 2px solid var(--symbol-color);
    border-right: 2px solid var(--symbol-color);
}
.border-t {
    border-top: 2px solid var(--symbol-color);
}
.border-b {
    border-bottom: 2px solid var(--symbol-color);
}
.border-h {
    border-top: 2px solid var(--symbol-color);
    border-bottom: 2px solid var(--symbol-color);
}

/* Flex display */
.flex-c {
    display: flex;
    flex-direction: column;
}
.flex-cr {
    display: flex;
    flex-direction: column-reverse;
}
.flex-r {
    display: flex;
    flex-direction: row;
}
.flex-rr {
    display: flex;
    flex-direction: row-reverse;
}

.flex-grow {
    flex-grow: 1;
}
.flex-shrink {
    flex-shrink: 1;
}

/* Font Size */

.font-size-300pct {
    font-size: 300%;
}

.font-size-125pct {
    font-size: 125%;
}

.font-size-115pct {
    font-size: 115%;
}

/* Whitespace Wrap */
.nowrap {
    white-space: nowrap;
}

/* User Selectable */
.nonselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Button */
.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: var(--symbol-color);
    text-decoration: none;
    align-items: center;
    padding: 8px;
    text-decoration: none;
}
a.btn:link,
a.btn:visited,
a.btn:active {
    color: var(--symbol-color);
}
a.btn:hover {
    color: var(--symbol-hover-color);
    text-decoration: none;
}

/* Button /w Icon */
a.btn:link > simple-icon,
a.btn:visited > simple-icon,
a.btn:active > simple-icon {
    background-color: var(--symbol-color);
}

a.btn:hover > simple-icon {
    background-color: var(--symbol-hover-color);
}


/* Absolute position */
.abs-left {
    position: absolute;
    left: 0;
}
.abs-right {
    position: absolute;
    right: 0;
}
.abs-bottom {
    position: absolute;
    bottom: 0;
}
.abs-top {
    position: absolute;
    top: 0;
}
.abs-center-h {
    left: 0;
    right: 0;

    margin-left: auto;
    margin-right: auto;

    position: absolute;
}
.abs-center-v {
    top: 0;
    bottom: 0;

    margin-top: auto;
    margin-bottom: auto;

    position: absolute;
}
.abs-center {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    position: absolute;
}

/* Logo Text: Rakkoon GAMES */
.logo-text {
    margin: 0;
    line-height: 1em;
    text-align: center;

    font-variant: small-caps;
    color: var(--symbol-color);
}
.logo-text > .btn {
    padding: 0;
}

/* Inline Icons */
.inline-icon {
    display: inline-block;
    height: 1em;
    width: 1em;
}

/* Font Variants */
.smallcaps {
    font-variant: small-caps;
}

/* Page Anchors */
.anchor {
    display: block;
    position: relative;
    visibility: hidden;
}

/* Shadows */
.text-shadow {
    text-shadow: 1.2px 1.2px 2px var(--text-shadow-color);
}

/* Banners */
.banner {
    margin: -20px -20px auto -20px;
}

/**=====================**/
/** BY ID               **/
/**=====================**/

/* Header */
#header-area {
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;

    margin: 0;
    border: 0;

    width: 100%;
}

#header {
    z-index: 3;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    border: 0;
    padding: 1px;
    background-color: var(--header-background-color);
    background-image: var(--header-background-image);
    box-shadow: 0 2px 2px #0006;
} 

#nav-bar {
    z-index: 2;
    display: flex;
    flex-flow: row wrap;
    background-color: var(--nav-bar-background-color);
    background-image: var(--nav-bar-background-image);
    box-shadow: 0 5px 5px #0004;
    align-items: stretch;
    text-align: center;
}

/* Content */
#content {
    --min-margin: 15px;

    align-items: center;
    justify-content: center;

    max-width: calc(100% - 2 * var(--min-margin));
    width: min-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--min-margin);
    padding: 20px;

    background-color: var(--content-background-color);
    background-image: var(--content-background-image);
    background-size: cover;
    background-position: center;
    background-attachment: local;

    box-shadow: var(--content-box-shadow);
}
