/**=====================**/
/** BY TYPE             **/
/**=====================**/

/* Global */
html, body {
    /* Formatting */
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* Text */
    color: var(--symbol-color);
    font-family: var(--font-family);
    font-size: 1em;
    
    /* Background */
    background-color: var(--background-color);
}

/* Paragraph */
p {
    color: var(--symbol-color);
    font-family: 'Josefin Sans', sans-serif;
}

/* Header */
h1, h2, h3, h4 {
    color: var(--symbol-color);
    font-variant: small-caps;
    font-family: 'Josefin Sans', sans-serif;
}

/* Link */
a:link,
a:visited,
a:hover,
a:active {
    color: var(--highlight-color);
}

/* Simple Icons: src/utils/SimpleIcon.ts */
simple-icon {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--symbol-color);
}

/**=====================**/
/** BY CLASS            **/
/**=====================**/

/* Alignment */
.align-right { text-align: right; }
.align-left { text-align: left; }
.align-center { text-align: center; }

/* Border */
.border { border: 2px solid var(--symbol-color); }
.border-l { border-left: 2px solid var(--symbol-color); }
.border-r { border-right: 2px solid var(--symbol-color); }
.border-v { border-left: 2px solid var(--symbol-color); border-right: 2px solid var(--symbol-color); }
.border-t { border-top: 2px solid var(--symbol-color); }
.border-b { border-bottom: 2px solid var(--symbol-color); }
.border-h { border-top: 2px solid var(--symbol-color); border-bottom: 2px solid var(--symbol-color); }

/* Flex display */
.flex-c { display:flex; flex-direction: column; }
.flex-cr { display:flex; flex-direction: column-reverse; }
.flex-r { display:flex; flex-direction: row; }
.flex-rr { display:flex; flex-direction: row-reverse; }

.flex-grow { flex-grow: 1; }
.flex-shrink { flex-shrink: 1; }

/* Button */
.btn {
    color: var(--symbol-color);
    text-decoration: none;
    font-variant:small-caps;
    align-items: center;
    padding: 8px;
}
a.btn:link,
a.btn:visited,
a.btn:active { color: var(--symbol-color); }
a.btn:hover { color: var(--symbol-hover-color); }

/* Button /w Icon */
a.btn:hover > simple-icon { background-color: var(--symbol-hover-color); }

/* Title */
.title {
    margin: 0 5px;
    line-height: 1em;
    text-align: center;

    font-variant: small-caps;
    color: var(--symbol-color);
}
.title > .btn { padding: 0; }

/**=====================**/
/** BY ID               **/
/**=====================**/

/* Header */
#header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1px;
    width: 100%;
    background-color: var(--header-color);
}

/* Wrapper */
#wrapper {
    margin: 15px, 15px;
}